body {
    background: #222233;
    color: #FFF;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #444455;
    font-size: 1.5rem;
    background: #333344; 
}

.toolbar ul li {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    border-right: 1px solid #444455;
}

.badge {
    position: absolute;
    right: 1.55rem;
    top: 0.25rem;
    font-size: 0.8rem;
    border-radius: 20px;
    padding: 0.1rem 0.25rem;
    background: rgb(250, 4, 197);
}
.badge span {
    display: none;
}


.toolbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.toolbar ul li .label {
    display: none;
}

.toolbar ul li a {
    display: block;
    padding: 0.5rem 2rem 1rem;
    color: #FFF;
    text-decoration: none;
    letter-spacing: 0.04rem;

}

@media screen and (min-width: 600px) {

    #wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 0;
    }


    .toolbar {
        position: relative;
        height: 100vh;
        flex-shrink: 0;
        border-right: 1px solid #444455;
        border-top: none;
        font-size: 2rem;
        background: #333344; 
    }

    .toolbar ul li {
        display: block;
        position: relative;
        border-right: none;
        border-bottom: 1px solid #444455;
    }


    .badge {
        position: absolute;
        right: 0.25rem;
        top: 1rem;
        font-size: 0.8rem;
        border-radius: 20px;
        padding: 0.25rem 0.5rem;
        background: rgba(0,0,0,0.5);
    }
    .badge span {
        display: none;
    }
    

    .toolbar ul li .label {
        display: inline;
    }   

    .toolbar {
        font-size: 0.9rem;
    }


    .toolbar ul li a {
        padding: 1rem 0.5rem;
        padding-right: 2rem;
        color: #FFF;
        text-decoration: none;
        letter-spacing: 0.04rem;
    }
}

.toolbar ul li a:hover {
    background: rgba(255,255,255,0.1);
}

#header {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem 2rem;
    background: #111122;
    /* position: fixed; */
}

#main {
    height: 100vh;
    overflow: scroll;
    overflow-x: scroll;
    flex-grow: 1;
}

#content { 
    /* margin-top: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 600px) {
    #content {
        padding: 2rem;
        flex-direction: row;
    }
}

a { color: #8c8dff; }

.stream {
    width: 100%;
    max-width: 40rem;
}

.stream header {
    color: #FFF;
    font-weight: bold;
    padding: 1rem;
    background: #111122;
}

.stream header .unread {
    float: right;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    background: rgba(255,255,255,0.5);
    text-decoration: none;
    color: #FFF;
}


.activity {
    border-bottom: 1px solid #444455;
    background: #333344;
    padding: 1rem 1rem;
    line-height: 1.25rem;
}

.byline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.byline .author {
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    display: block;
}

.byline .handle {
    color: #C0C0C0;
}

    
.personCard {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 1rem;
}

.personCard .profile {
    flex-grow: 1;
}

.personCard .author {
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    display: block;
}

.personCard .handle {
    color: #C0C0C0;
}

.personCard .tools {
    flex-shrink: 0;
    flex-grow: 0;
}

    





.activity .content {
    padding-left: calc(50px + 1rem);
}

@media screen and (min-width: 600px) {
    .activity .content {
        padding-left: 0;
    }
}

.activity .boost {
    background: rgba(0,0,0,0.25);
    padding:  0.25rem 0.5rem; 
    margin-bottom: 1rem;
}

.avatar {
    height: 50px;
    width: 50px;
}

.activity footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.permalink {
    color: #555566;
    text-decoration: none;
}

.permalink:hover {
    color: #8c8dff;
    text-decoration: underline;
}

.activity .attachment {
    background: rgba(0,0,0,0.5);
}

.activity .attachment img,
.activity .attachment video {

    margin: 0px auto;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#composer {
    text-align: right;
    margin-bottom: 1rem;
    padding: 1rem;
}


textarea#post {
    width: 100%;
    height: 5rem;
    margin-bottom: 0.5rem;
}
input#cw { 
    width: 100%;
    margin-bottom: 0.5rem;
}

#submit {
    padding: 0.5rem 1rem;
    background: #0cc13f;
    color: #FFF;
    border: none;
    border-radius: 5px;
}



.content .tools { flex-grow: 1; }
.content .tools button { font-size: 1rem; background: none; border: none; }
.content .tools button.active { background: rgba(255,255,255,0.25); }
.content .tools button .active { display: none; }
.content .tools button.active .active { display: block; }
.content .tools button.active .inactive { display: none; }

button.follow { background: none; border: none; }
button.follow .active { display: none; }
button.follow.active .active { display: block; }

button.follow.active .inactive { display: none; }


@media screen and (min-width: 600px) {
    .tools button { font-size: 1.5rem;  }
}

.notification {
    margin-bottom: 1rem;
}

.notification a { 
    color: #9999AA;
}

.preview {
    padding-left: 1rem;
    color: #9999AA;
}

.Follow .preview {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Follow .preview .avatar {
    height: 50px;
    width: 50px;
}

.showThread {
    display: inline-block;
    margin: 0px auto;
    padding: 0.25rem 1rem;
    border-radius: 4px;
    background: rgba(0,0,0,0.25);
    text-decoration: none;
}

.states a {
        display: block;
        padding: 0.5rem;
}


.profileHeader {
    height: 150px;
    background: #111122;
}

.profileHeader img {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.profile {
    background: #333344;
}

.profileBody {
    padding: 1rem;
    margin-top: calc(-50px - 1rem);
}

.profileBody .avatar {
    width: 110px;
    height: 110px;
    border: 5px solid #333344;
}