body {
    background: #191b22;
    color: #FFF;
    font-size: 18px;
}

a { color: #8c8dff; }

.stream {
    max-width: 40rem;
    margin: 0px auto;
}


.activity {
    border-top: 1px solid #393f4f;
    background: #333344;
    padding: 1rem;
}

.activity .header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.activity .header .avatar {
    height: 50px;
    width: 50px;
}

.activity .attachment img {
    max-width: 100%;
}

textarea#post {
    width: 100%;
    height: 5rem;
}
input#cw { 
    width: 100%;
}

.preview {
    margin-left: 50px;
    padding: 1rem;
}

.Follow .preview {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Follow .preview .avatar {
    height: 50px;
    width: 50px;
}