<div class="byline">
    {{> avatar actor=actor}}
    <div>
        <a href="/private/feeds/{{getUsername actor.id}}" class="author">{{actor.name}}</a>
        <span class="handle">{{getUsername actor.id}}</span>
    </div>
</div>
