<div id="composer">
    <form onsubmit="return app.post()">
        <textarea id="post" required placeholder="The coolest thing I can think of right now..."></textarea>
        <input type="text" id="cw" placeholder="content warning" />
        <input id="inReplyTo" placeholder="in reply to" value="{{inReplyTo}}" />
        <input id="to" placeholder="to" value="{{to}}" />

        <button id="submit" type="submit">Post</button>
    </form>
</div>