<div id='composer' class='mini'>
  <form onsubmit='return app.post()'>
    <fieldset id='composer_form'>
      <input type='text' id='post' required placeholder='The coolest thing I can think of right now...' />
      <input type='text' id='cw' placeholder='content warning' hidden />
      <input id='inReplyTo' class='inReplyTo' placeholder='in reply to' value='{{inReplyTo}}' hidden />
      <input id='to' class='to' placeholder='to' value='{{to}}' hidden />
      <button id='submit' type='submit'>Send</button>
    </fieldset>
  </form>
</div>