<div id='composer' class='mini'>
  <form onsubmit='return app.post()'>
    <fieldset id='composer_form'>
      <input type='text' id='post' required placeholder='The coolest thing I can think of right now...' />
      <input type='text' id='cw' class='mini-cw' placeholder='content warning' hidden />
      <input id='inReplyTo' class='inReplyTo' placeholder='in reply to' value='{{inReplyTo}}' hidden />
      <input id='to' class='to' placeholder='to' value='{{to}}' hidden />
      <input type="checkbox" id="canReply" name="canReply" style="opacity:0; position:absolute; left:9999px;" />
      <input type="checkbox" id="canBoost" name="canBoost" style="opacity:0; position:absolute; left:9999px;" />
      <input type="checkbox" id="canFave" name="canFave" style="opacity:0; position:absolute; left:9999px;" />
      <button id='submit' type='submit'>Send</button>
    </fieldset>
  </form>
</div>