<section class="stream">
    <header>
        <form method="get" action="/private/find" class="search-form">
            <label for="lookup">Find People</label>
            <input 
                type="search" 
                placeholder="user@instance.town" 
                id="lookup" 
                name="handle" 
                aria-label="Search for people"
                value="{{query}}" />
            {{!-- <button type="submit" class="search-button">Search</button> --}}
        </form>
    </header>

    {{#if results}}
        <div class="results-container">
            {{#each results}}
                <div class="activity">
                    {{> personCard actor=this nobio=true}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="activity">
            No results found.
        </div>
    {{/if}}
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        app.pollForPosts();
    });
</script>
